
  <style>
    body {border: double; background: url(https://www.toptal.com/designers/subtlepatterns/patterns/sayagata-400px.png);} 
    h1 {color: green; text-align: center; font-size: 250%;}
    h2 {text-decoration: underline; font-style: italic; font-weight: normal;}
    p {font-family: Candara; padding: 0.1cm; margin: 0.3cm; line-height: 1.5; text-align: justify; font-size: 120%}
    blockquote {font-family: Courier}
    a {color: red;}
    span {color: blue;}
    h2 {text-indent: 30px; color:purple}
    h1 {text-transform: uppercase;}
    i {color: brown;}
    span {float: right}
    a {float: right}
  </style>
